<h1 style='font-size:40px'> Exploratory Data Analysis</h1>

<div> 
    <ul style='font-size:20px'> 
        <li> 
            Querer provar um fato envolve muito mais do que a pura coleta de informações. Antes de tudo, a maneira como os dados são obtidos deve ser priorizada.
        </li>
        <li> 
            Se algo é real, precisamos ter um volume considerável de instâncias que confirmem isso. Além disso, a idoneidade das informações tem que ser garantida.
        </li>
        <li> 
            Discussões de fóruns na internet ou conversas com amigos não providenciam informações confiáveis. As pessoas podem passionalmente se posicionar e, muitas vezes, as provas que elas utilizam para fundamentar as suas opiniões provêm de sua própria experiência com o mundo (e nada além disso).
        </li>
    </ul>
</div>

<h2 style='font-size:30px;'> Importing the Data</h2>
<div> 
    <ul style='font-size:20px'> 
        <li> 
            Vamos trabalhar com uma pesquisa do sexto ciclo do NSGF realizado pelo CDC. Essa tem o intuito de estudar a composição das famílias americanas, sua saúde e sexualidade.
        </li>
    </ul>
</div>

In [29]:
import thinkstats2
from nsfg import CleanFemPreg, ReadFemPreg

df = ReadFemPreg()
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

<h2 style='font-size:30px'> Variables</h2>
<div> 
    <ul style='font-size:20px'> 
        <li> 
            Somos apresentados às principais colunas a serem usadas com o dataset apresentado.
        </li>
    </ul>
</div>
<center> 
    <img src='variables1.png'>
</center>

<p style='color:red'> Variables